[Unit]
Description=MediaSmartServer

[Service]
ExecStart=/usr/sbin/mediasmartserverd --activity --update-monitor
Restart=always

[Install]
WantedBy=multi-user.target
